.bboy {
    background-color: #202226;
}
.typicaltexties {
    color: white;
    font-family:
}

.titular {
    font-size: 8vmin;
    width: max
}
.subtitular {
    font-size: 3vmin;
}
@media (max-device-width: 576px) {
    .titular {
        font-size: 10vw;
    }
}
.topbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
body {
    width: 100%;
    height: 100%;
    border: none;
}
html {
    width: 100%;
    height: 100%
}