.bboy {
    background-color: #202226;
    height: max-content;
    width: max-content;
}
.typicaltexties {
    color: white;
    font-family:
}

.titular {
    font-size: 8vmin;
}
@media (max-device-width: 576px) {